table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

table thead th {
  border-width: 0 0 2px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #dbdbdb;
}

.has-text-primary {
  color: hsl(217, 71%, 53%);
}
